<h1>Olá, seja muito bem vindo {{name}}</h1>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Quem somos nós</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Nossa história</a>
  </li>
</ul>
<app-anime></app-anime>
<app-eventos></app-eventos>
<app-condicoes></app-condicoes>
<app-condicao-for></app-condicao-for>
<app-condicoes-swich></app-condicoes-swich>
<app-ng-style></app-ng-style>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>